@model StoriesWeb.Models.Story

@{
    ViewBag.Title = "Details";
}

<h3>Story Details</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Author Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Content
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            Posted On
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
